{% extends "device_adjacent_difference.cpp.jinja2" %}

{% block benchmarking_include %}
#include "benchmark_device_adjacent_difference.hpp"
{% endblock %}

using benchmark_type = device_adjacent_difference_benchmark<value_type, true, common::api_variant::in_place, config>;
{% endblock %}
