{% extends "device_binary_search.cpp.jinja2" %}

{% block benchmarking_include %}
#include "benchmark_device_binary_search.hpp"
{% endblock %}

{% block benchmark_type %}
using benchmark_type = device_binary_search_benchmark<upper_bound_subalgorithm, value_type, output_type, 10, false ,config>;
{% endblock %}
