{% extends "common/base.cpp.jinja2" %}
{% block config_constructor -%}
rocprim::adjacent_difference_config<{{ config.block_size_x }}, {{ config.__ipt__ }}>
{%- endblock %}
{% block benchmark_type %}
using benchmark_type = device_adjacent_difference_benchmark<key_type, false, common::api_variant::no_alias, config>;
{% endblock %}
