{% extends "device_select.cpp.jinja2" %}

{% block type_definitions %}
using data_type = {{ data_type }};
{% endblock %}

{% block benchmark_type %}
using benchmark_type = device_select_predicate_benchmark<data_type, config>;
{% endblock %}
