{% extends "common/base.h.jinja2" %}

{% block config_guard scoped %}{{ mk_kv_type_check(type) }}{% endblock %}

{% block config_constructor -%}
merge_sort_block_merge_config_params{
    { {{ config.odd_even_block_size }}, {{ config.odd_even_ipt }}, {{ config.odd_even_size_limit }} },
    { {{ config.partition_block_size }}, {{ config.partition_ipt }} },
    { {{ config.block_size_x }}, {{ config.ipt }} }
}
{%- endblock %}

{% block config_base_type -%}
merge_sort_block_merge_config_params_base<key_type, value_type>
{%- endblock %}
