{% extends "common/base.h.jinja2" %}

{% block config_guard scoped %}{{ mk_kv_type_check(type) }}{% endblock %}

{% block config_constructor -%}
merge_sort_block_sort_config_params{ {{ config.block_size_x }}, {{ config.ipt }} }
{%- endblock %}

{% block config_base_type -%}
merge_sort_block_sort_config_params_base<key_type, value_type>
{%- endblock %}
